@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 3px;
    background:transparent;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  background:transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #5e17d1; */
  border-radius: 10px;
}

.skillBox{
  background: rgb(5,10,18);
  background: linear-gradient(180deg, rgba(5,10,18,1) 0%, rgba(6,19,47,1) 50%);
}

.textLabel{
  background-color: "transparent";
  border : "1px solid transparent";
  border-image: "linear-gradient(90deg, rgba(173, 190, 252, 1), rgba(33, 91, 240, 1)) 1";
  border-radius: "0.375rem";

}

.textLabel:focus {
  border: 1px solid transparent; /* Ensure the border is still transparent */
  border-image: linear-gradient(90deg, rgba(173, 190, 252, 1), rgba(33, 91, 240, 1)) 1;
  border-radius: 0.375rem; /* Apply the border-radius */
  outline: none; /* Remove the default outline */
}

.hover-underline-animation {
  display: inline-block;
  /* Display inline block */
  position: relative;
  /* Set position relative */
  /* Set text color */
}

.hover-underline-animation:after {
  content: '';
  /* Add content after the element */
  position: absolute;
  /* Position absolute for pseudo-element */
  width: 90%;
  /* Full width */
  transform: scaleX(0);
  /* Initial scale of 0 for underline effect */
  height: 2px;
  /* Height of the underline */
  bottom: 0;
  /* Align to bottom */
  left: 6%;
  /* Align to left */
  background-color: #3D8AFF;
  /* Background color of the underline */
  transform-origin: bottom right;
  /* Set transform origin */
  transition: transform 0.25s ease-out;
  /* Transition effect for the underline */
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  /* Scale the underline on hover */
  transform-origin: bottom left;
  /* Set transform origin */
}



.border-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* border: 1px solid; */
  border-image: linear-gradient(90deg, rgba(173, 190, 252, 1), rgba(33, 91, 240, 1)) 1;
  border-radius: 0.375rem;
  z-index: 1;
}
